.button {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;

  border-radius: 3px;
  outline: none;
  height: 42px;
  font-weight: 700;
  padding: 0 16px;
  border: none;
  cursor: pointer;

  &--success {
    background: #689F38;
    color: #fff;

    &:hover {
      background: darken(#689F38, 5%);
      color: darken(#fff, 5%);
    }

    &:active {
      background: darken(#689F38, 15%);
      color: darken(#fff, 15%);
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
      background: #689F38;
      color: #fff;
    }
  }

  &--danger {
    background: #9f383c;
    color: #fff;

    &:hover {
      background: darken(#9f383c, 5%);
      color: darken(#fff, 5%);
    }

    &:active {
      background: darken(#9f383c, 15%);
      color: darken(#fff, 15%);
    }
  }

  transition: all linear 150ms;
  will-change: background, color;

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
