node_modules
.idea
.cache
build
dist
.parcel-cache
/controller-source/cmake-build-release/
/controller-source/src/arduino_target.ino.cpp
/controller-source/.vscode/
/controller-source/.vscode/
