@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../../assets/fonts/OpenSans-Regular.woff') format('woff');
}

// Open Sans semi bold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/OpenSans-SemiBold.woff2') format('woff2'),
  url('../../assets/fonts/OpenSans-SemiBold.woff') format('woff');
}

// Open Sans bold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../../assets/fonts/OpenSans-Bold.woff') format('woff');
}
