@import "../../core/styles/main";

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: calc(100vw - #{$sidebarWidth});
  box-sizing: border-box;
  padding: 0 24px;
  background: #cfcfcf;
  height: $footerHeight;
  left: $sidebarWidth;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}
