@import "../../core/styles/main";

.sidebar {
  width: $sidebarWidth;
  height: calc(100vh - 48px);
  background: #fff;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  position: relative;

  overflow-y: scroll;
  overflow-x: hidden;

  .sidebar-item {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 250ms linear;
    will-change: opacity;

    &:hover {
      background: darken(#fff, 3%);
      opacity: 1;
    }

    &.sidebar-item-active {
      border-left: 4px solid $activeBorderColor;
    }

    &:active, &--selected {
      background: darken(#fff, 10%) !important;
      opacity: 1 !important;
    }

    p {
      font-size: 18px;
      margin: 0;
    }

    span {
      font-size: 16px;
    }

    padding: 16px;
    border-bottom: 1px solid #eee;
  }

  .no-profile-yet {
    text-align: center;
    margin-top: 24px;
  }
}

table {
  width: 100%;

  td:first-child {
    width: 80px;
  }
}
