$base: 8px;

// Top Bar
$topBarHeight: $base * 8; // 64px

// Footer
$footerHeight: $base * 6; // 64px

// Sidebar
$sidebarWidth: 280px;
$sidebarHeight: calc(100vh - #{$topBarHeight} - #{$footerHeight});
