@import "../../core/styles/main";

.page {
  width: calc(100vw - #{$sidebarWidth});
  padding: $base * 2;
  box-sizing: border-box;
  margin-top: $topBarHeight;
  background: #F1F5F9;

  z-index: 0;
}
