$success: #689F38;
$danger: #9f383c;
$warning: #9f8d38;
$default: #38879f;

// Sidebar
$activeBorderColor: $success;

// Buttons
$buttonDefault: $default;
$buttonSuccess: $success;
$buttonDanger: $danger;
$buttonWarning: $warning;
